---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, perferendis velit expedita necessitatibus ut labore ipsa nemo iste quibusdam quam nisi vero provident iusto quasi sequi voluptatem eaque maiores doloribus quisquam in esse voluptas? Harum rerum tempora atque neque. Voluptate reprehenderit impedit esse quibusdam soluta iusto pariatur harum illum placeat?</p>
</Layout>