---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Contact Us</h1>
    <p>Call Us: <a href="tel:09024364876">Customer Care Line</a></p>
    <p>Email Us: <a href="mailto:collins.okoroafor@outlook.com">Email Support</a></p>
</Layout>